{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static %}
    <link href="{% static 'auto/css/style.css'%}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <!--<form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                    selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>-->
    {% for item in auto %}
    <div class="block">
        <p class="name">{{item.name}}</p>
        <hr />
        <p class="description">{{item.description}}</p>
        <img class="image" src="{{ item.photo.url }}">

        <button class="like"></button>
        <span class=".like-count"></span>
    </div>
    <hr>
    {% endfor %}
    <script type="text/javascript" src="{% static 'auto/js/script.js'%}"></script>

</body>
</html>